
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  overflow-y: scroll;
}

body, html {
  height: 100%;
}

::-moz-selection {
  background: #599;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #599;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #444;
  line-height: 1.25;
}
.touch body {
  -webkit-text-size-adjust: none;
}
body > header {
  width: 100%;
  min-height: 32px;
  background: #333;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
body > header > nav {
  margin: 0 auto;
  width: 960px;
}
body > header > nav > h1 {
  float: left;
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
  padding: 0 10px;
}
body > header > nav > h1 > a {
  color: #fff;
  text-decoration: none;
}
body > header > nav > ul {
  float: right;
  font-weight: bold;
  color: #fff;
}
body > header > nav > ul li {
  float: left;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  color: #fff !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
body > header > nav > ul li a {
  display: block;
  height: 32px;
  line-height: 32px;
  color: #888 !important;
  text-decoration: none;
  text-shadow: none;
}
body > header > nav > ul li a:hover, body > header > nav > ul li a:focus {
  color: #ddd !important;
}
body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  z-index: 4;
}
body > footer > p {
  float: right;
  margin-right: 10px;
  padding: 0 4px;
  background: #fff;
}
body > footer > p > a {
  color: #599;
}
